form
    .form-group.form-inline
        | Tìm kiếm: 
        input.form-control.ml-2(
            type='text',
            name='searchTerm',
            [(ngModel)]='countryService.searchTerm'
        )
        span.ml-3(*ngIf='countryService.loading$ | async') Loading...
    table.table.table-striped
        thead
            tr
                th(scope='col') #
                th(
                    scope='col',
                    sbSortable='title',
                    (sort)='onSort($event)'
                ) 
                    span Tiêu đề
                    sb-sort-icon(
                        *ngIf='sortedColumn === "title"',
                        [direction]='sortedDirection'
                    )
                th(
                    scope='col',
                    sbSortable='description',
                    (sort)='onSort($event)'
                ) 
                    span Tóm tắt
                    sb-sort-icon(
                        *ngIf='sortedColumn === "description"',
                        [direction]='sortedDirection'
                    )
                th(
                    scope='col',
                    sbSortable='date_publish',
                    (sort)='onSort($event)'
                ) 
                    span Thời gian
                    sb-sort-icon(
                        *ngIf='sortedColumn === "date_publish"',
                        [direction]='sortedDirection'
                    )
                th(
                    scope='col',
                ) 
                    span Link
        tbody
            tr(*ngFor='let news of newsList$ | async')
                th(scope='row') {{ news.id }}
                td
                    ngb-highlight(
                        [result]='news.title',
                        [term]='countryService.searchTerm'
                    )
                td
                    p.news-summary(
                        [innerHtml]='news.description'
                    )
                td
                    ngb-highlight(
                        [result]='news.date_publish',
                        [term]='countryService.searchTerm'
                    )
                td
                    a(
                        href='{{ news.url }}',
                        target='_blank'
                    ) {{ news.url }}
    .d-flex.justify-content-between.p-2
        ngb-pagination(
            [collectionSize]='total$ | async',
            [(page)]='countryService.page',
            [pageSize]='countryService.pageSize'
        )

        select.custom-select(
            style='width: auto',
            name='pageSize',
            [(ngModel)]='countryService.pageSize'
        )
            option([ngValue]='20') 20 items per page
            option([ngValue]='40') 40 items per page
            option([ngValue]='60') 60 items per page